<main ng-app="TodoApp"
      ng-controller="TodoController as ctrl">

  <h3>Current Todos</h3>
  <ul class="todos">
    <li ng-repeat="todo in ctrl.todos">
      <span ng-class="todo.done ? 'done' : 'undone'">
        {{ todo.description }}
      </span>
      <!--
        Missing here:
        - button to mark it as done, which will call to update
        - button to remove todo from list, which will call to destroy
        -->
    </li>
  </ul>


    <li ng-repeat="todo in ctrl.todos">
      <button ng-click="ctrl.updateTodo(todo)">
        {{ todo.done ? 'undo' : 'done' }}
      </button>
      <button ng-click="ctrl.destroyTodo(todo)">
        Remove todo!
      </button>
      <span ng-class="todo.done ? 'done' : 'undone'">
        {{ todo.description }}
      </span>

  <!--
    Missing here:
    - a form to make new todos
    - should trigger an ng-submit
    - should have data bound to ctrl.newTodo object
    - should not ask if it's done (why would you add a finished todo?)
    -->

</main>
